<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>list</h1>
    <% if(arr.length>0){ %>
    <% arr.forEach((ele)=> { %>
    <li> <%= ele %> </li>
<% }) %>
   <% }else{ %>
    <h1>no items</h1>
  <% } %>
</body>
</html>